$contentBackground: #21232e;

$fonts :(
    font_1: ('Source Sans Pro', sans-serif),
    font_2: ('Fresca', sans-serif)
);

$colors :(
	epam_blue: #ff4e33, 
	text_dark_color: #fff, 
	button_color: #e3ac00,
	text_bright_color: #c0b4af,
	white: #fff,
	section: #3b3f50
);

$gradient_1: #dea405;
$gradient_2: #932e52;

$background: (url("../img/m-h-night.jpg") center no-repeat);