body {
  height: 100%;
  width: 100%;
}
a {
  color: #181818;
  text-decoration: none;
}
p {
  margin: 2% 3% 1% 0;
}
.main-wrapper {
  width: 93.75%;
  height: 100%;
  max-width: 960px;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: auto;
}
.header{
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  line-height: 1.4em;
  margin-top: 20px;
}
.header .logo {
  display: inline-block;
  line-height: 1.1em;
  vertical-align: middle;
  color: #181818;
  font-size: 2vw;
  cursor: pointer;
}
.logo-text{
  width: 100%;
}
.works{
  font-family: 'Roboto Slab', serif;
}
.works .works-header {
  padding-bottom: 1%;
  margin: 1%;
  color: #666666;
}
.works .works-header .title {
  display: flex;
  justify-content: center;
}
.works .works-header .title .tube {
  height: 1.6em;
}
.works h3 {
  font-size: 1.3em;
  display: inline-block;
  color: #4F4640;
  letter-spacing: 0.1em;
}
.works .works-header .filter {
  letter-spacing: 0.1em;
  padding: 20px;
}
.works .works-header .filter li {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
}
.works-content {
  width: 100%;
}
.works-content .item-wrapper {
  width: 33.33333333%;
  min-height: 250px;
  float: left;
}
.works-content .item-wrapper .img-div {
  width: 92%;
  margin: 0 auto;
}
.works-content .item-wrapper .img-div img {
  max-width: 100%;
  height: auto;
}
.works-content .item-wrapper .description {
  width: 92%;
  margin: 0 auto;
  padding-top: 3%;
}
.works-content .item-wrapper .description a h5 {
  font-size: 1.5em;
}
.works-content .item-wrapper .description .tags {
  /* font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif; */
  padding-top: 1%;
}
.works-content .item-wrapper .description .tags .fa {
  margin-right: 3%;
}
.works-content .item-wrapper .description .tags span {
  font-size: 0.9em;
}
footer {
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}
footer .footer-content .copyright {
  float: left;
  font-size: 0.85em;
  line-height: 40px;
}
footer .footer-content .links a {
  float: right;
  text-decoration: none;
  margin: 0% 0% 1% 1%;
  font-size: 1.7em;
  color: #666666;
}
footer .footer-content .links a:hover {
  color: #e3d94c;
}
.main-wrapper .separator-buttom {
  margin-bottom: 1%;
  margin-top: 1em;
}
.separator {
  background: url("../images/pattern_06.png") repeat-x scroll left bottom transparent;
  min-height: 7px;
  margin: 4% 1% 3% 1%;
}
@media screen and (max-width: 850px) {
  .works-content .item-wrapper .view p {
    font-size: 0.6em;
  }
  .works-content .item-wrapper .view a.info {
    font-size: 0.9em;
  }
  .works-content .item-wrapper {
    min-height: 210px;
  }
}
@media screen and (max-width: 768px) {
  .header .logo {
    display: none;
  }
  .header p{
    font-size: 5vw;
  }
  .works-content .item-wrapper {
    width: 50%;
  }
  .works-content .item-wrapper .view p {
    font-size: 0.7em;
  }
  .works-content .item-wrapper .view a.info {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 480px) {
  .works .works-header {
    margin: 2%;
  }
  .works .works-header .title {
    display: inline-block;
    text-align: center;
  }
  .works .works-header .filter {
    display: inline-block;
  }
  .works-content .item-wrapper {
    width: 100%;
    padding-bottom: 6%;
  }
  .works-content .item-wrapper .img-div {
    width: 96%;
  }
  .works-content .item-wrapper .description {
    width: 96%;
  }
  .works-content .item-wrapper .view p {
    font-size: 0.8em;
  }
  .works-content .item-wrapper .view a.info {
    font-size: 0.9em;
  }
}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}
/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}
.tractor{
  background-image: url('../images/tractor.png');
  background-size: 50px;
  background-repeat: no-repeat;
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
#tractor1{
	top: 103px;
}
#tractor2{
	top: 197px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}
#form{
	overflow: hidden;
	position: relative;
}
form{
  position: relative;
  width: 90%;
  margin: auto;
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 90%;
	border: none;
	border-radius: 15px;
	outline: none;
  padding: 6px;
  padding-left: 20px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
	font-size: 0.8em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px rgba(243, 160, 35, 0.719);	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
input:focus, textarea:focus{
  border: solid 3px #f3be9869;
  padding-left: 20px;
}
textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 20px;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
}
label{
	font-size: 0.9em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	padding-top: 2px;
}
.formgroup-active{
	background-image: url('../images/petr.png');
}
.formgroup-error{
	background-image: url('../images/petr_error.png');
	color: red;
}
.pic{
  width: 100%;
}
.hello{
  color: #F90;
  font-weight: 600;
  font-size: 1.4em;
}